<div class="comp-wrapper">
  <div class="nav-block">
    <div class="nav-item">
      <p routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="" (click)="setURL('all')" >All</a>
      </p>
      
    </div>

    <div class="nav-item">
      <p routerLinkActive="active">
        <a routerLink="/favourite" (click)="setURL('fav')">Favourite</a>
      </p>
      
    </div>

    <div class="nav-item">
      <p routerLinkActive="active">
        <a routerLink="/deleted" (click)="setURL('del')">Deleted</a>
      </p>
      
    </div>
  </div>
  
  <div class="scroll-wrapper">
    <div class="header">
      <div class="static-content-wrapper">
        <h1 *ngIf="title=='ALL' " >ALL</h1>
        <h1 *ngIf="title=='FAVOURITE' " >FAVOURITE</h1>
        <h1 *ngIf="title=='DELETED' " >DELETED</h1>
        <div class="search-block">
          <form>
            <label>
              <input type="text" id="searcher" placeholder=" " (input)="search($event)" >
              <span>Search...</span>
            </label>
          </form>
        </div>
      </div>
      <div class="search-wrapper">
        <div class="search-elem" *ngIf="searchShow">

          <div class="preview" style="background-image: url({{searchLink}});"></div>
          <div class="only-show-on-hover">  
            <img src='{{searchLink}}'>
          </div>

          <div class="emoji-content">
            <div class="name">{{searchName}}</div>
            <a href="{{searchLink}}" class="link" target="_blank">Перейти</a>
          </div>
    
          <div class="actions">
            <span (click)="addEmojiToFav(searchName)" class="fav"></span>
            <span (click)="delEmojiFromAll(searchName)" class="del"></span>
          </div>
        </div>
      </div>
      
  
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
